<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url "logout" %}">Logout</a>
                        <a href="{% url "category_list" %}">Categories</a>
                        <a href="{% url "account_list" %}">Accounts</a>
                        <a href="{% url "create_receipt" %}">Create Receipt</a>
                        <a href="{% url "create_category" %}">Create Category</a>
                        <a href="{% url "create_account" %}">Create Account</a>
                    {% else %}
                        <a href="{% url "signup" %}">Sign Up</a>
                        <a href="{% url "login" %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Expense Category</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number Of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in category_list %}
                <tr>
                    <td>{{category.name}}</td>
                    <td>{{category.receipts.count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>