<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Category</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url "logout" %}">Logout</a>
                        <a href="{% url "category_list" %}">Categories</a>
                        <a href="{% url "account_list" %}">Accounts</a>
                        <a href="{% url "create_receipt" %}">Create Receipt</a>
                        <a href="{% url "create_category" %}">Create Category</a>
                        <a href="{% url "create_account" %}">Create Account</a>
                    {% else %}
                        <a href="{% url "signup" %}">Sign Up</a>
                        <a href="{% url "login" %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create Category</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>